<IfModule mod_negotiation.c>
  Options -MultiViews
</IfModule>

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /pos-vue3-build
RewriteRule "^(.*)\.js$" - [END]
RewriteRule ^pos-vue3-build/index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /pos-vue3-build/index.html [L]
</IfModule>